$theme_color: (
  default: (
    color_background: #f1f1f1,
    color_cell_bg_active: #ebeeef,
    color_tit_bg: #4ea9d4,
    color_tit_gradient_bg: (
      webkit: -webkit-linear-gradient(-70deg, #3e8ad9 40%, #73c3bc 95%),
      moz: -moz-linear-gradient(-70deg, #3e8ad9 40%, #73c3bc 95%),
      o: -o-linear-gradient(-70deg, #3e8ad9 40%, #73c3bc 95%)
    ),
    color_bubble_own: #fff,
    color_bubble_own_bg: #4ea9d4,
    color_bubble_own_border: #4ea9d4,
    color_bubble_other: rgba(#000, .8),
    color_bubble_other_bg: #fff,
    color_bubble_other_border: #fff,
    color_pop_bubble: #43698a,
    color_pop_bubble_active: #335675,
    color_pop_bubble_bg: #fff,
    color_pop_bubble_bg_active: #c6dce8,
    color_dialog_bg: #fff,
    color_dialog_tit_bg: #4ea9d4,
    color_dialog_input_border: #4ea9d4,
    color_persend_bg: #eaeaea,
    color_persend_input_border: #ddd,
    color_persend_input_border_active: #4ea9d4,
    color_presend_btn_bg: #4ea9d4,
    color_presend_btn_bg_disable: #c8c8c8,
    color_overview_displayname: #fff,
    shadow_pop_bubble: 0 0 7px -3px #445883,
    shadow_overview_avatar: 0 3px 15px -4px #555,
  ),
  pink: (
    color_background: #f1f1f1,
    color_cell_bg_active: #f7e0e0,
    color_tit_bg: #ea7575,
    color_tit_gradient_bg: (),
    color_bubble_own: #fff,
    color_bubble_own_bg: #ea7575,
    color_bubble_own_border: #ea7575,
    color_bubble_other: rgba(#000, .8),
    color_bubble_other_bg: #f9f4bf,
    color_bubble_other_border: #d3d3d3,
    color_pop_bubble: #ea7575,
    color_pop_bubble_active: #335675,
    color_pop_bubble_bg: #fff,
    color_pop_bubble_bg_active: #c6dce8,
    color_dialog_bg: #fff,
    color_dialog_tit_bg: #ea7575,
    color_dialog_input_border: #ea7575,
    color_persend_bg: #eaeaea,
    color_persend_border: #dcdbdb,
    color_persend_input_border: #ddd,
    color_persend_input_border_active: #ea7575,
    color_presend_btn_bg: #ea7575,
    color_presend_btn_bg_disable: #c8c8c8,
    color_overview_bg: #fdf8f8,
    color_overview_tit: #ea7575,
    color_overview_displayname: #b54141,
    color_overview_cell_bg_active: #fffef0,
    shadow_pop_bubble: 0 0 7px -3px #445883,
    shadow_overview_avatar: none,
  ),
  dark: (
    color: #999,
    color_background: #313538, 
    color_bubble_own: rgba(#fff, .6),
    color_bubble_own_bg: #444,
    color_bubble_own_border: #444,
    color_bubble_other: rgba(#fff, .6),
    color_bubble_other_bg: #444,
    color_bubble_other_border: #444,
    color_cell_bg_active: #3a3f45,
    color_cell_line: #292c33,
    color_cell_sub_text: #616161,
    color_dialog_bg: #313538,
    color_dialog_btn: #aaa,
    color_dialog_btn_bg: #292929,
    color_dialog_btn_bg_active: #666,
    color_dialog_btn_line: #444,
    color_dialog_tit: #aaa,
    color_dialog_tit_bg: #292929,
    color_dialog_input: rgba(#fff, .6),
    color_dialog_input_border: rgba(#fff, .15),
    color_pop_bubble: rgba(#fff, .6),
    color_pop_bubble_active: rgba(#fff, .6),
    color_pop_bubble_bg: #565b5f,
    color_pop_bubble_bg_active: #4c4c4c,
    color_persend_bg: #47484a,
    color_persend_input: #292929,
    color_persend_input_bg: #666,
    color_persend_input_border: #424242,
    color_persend_input_active: #999,
    color_presend_btn: #b7b7b7,
    color_presend_btn_bg: #5d5e61,
    color_presend_btn_bg_disable: #5d5e61,
    color_presend_btn_bg_active: #76777b,
    color_tit: #ddd,
    color_tit_bg: #292929,
    color_tit_gradient_bg: (),
    color_overview_bg: #313538,
    color_overview_cell: rgba(#fff, 0.6),
    color_overview_cell_bg: #47484a,
    color_overview_cell_bg_active: #3c3c3e,
    color_overview_cell_line: rgba(#fff, .15),
    color_overview_displayname: rgba(#fff, .8),
    color_overview_tit: rgba(#fff, .8),
    shadow_pop_bubble: 0 0 7px -3px #445883,
    shadow_overview_avatar: none,
  ),
  gold: (
    color: #000,
    color_background: #e6e6e8, 
    color_bubble_own: #f1cb26,
    color_bubble_own_bg: #444,
    color_bubble_own_border: #444,
    color_bubble_other: #000,
    color_bubble_other_bg: #fff,
    color_bubble_other_border: #444,
    color_cell_bg_active: rgba(#555, .1),
    color_cell_line: #656565,
    color_cell_sub_text: #868276,
    color_dialog_bg: #fff,
    // color_dialog_btn: #000,
    // color_dialog_btn_bg: #000,
    // color_dialog_btn_bg_active: #000,
    // color_dialog_btn_line: #000,
    color_dialog_tit: #f1cb26,
    color_dialog_tit_bg: #444,
    // color_dialog_input: rgba(#000, .6),
    // color_dialog_input_border: rgba(#000, .15),
    color_pop_bubble: #f1cb26,
    color_pop_bubble_active: #f1cb26,
    color_pop_bubble_bg: #444,
    color_pop_bubble_bg_active: #5a5a5a,
    color_persend_bg: #eaeaea,
    color_persend_input: '',
    color_persend_input_bg: '',
    color_persend_input_border: #ddd,
    color_persend_input_border_active: #444,
    color_persend_input_active: '',
    color_presend_btn: #f1cb26,
    color_presend_btn_disable: rgba(#fff, .8),
    color_presend_btn_bg: #444,
    color_presend_btn_bg_disable: #717171,
    color_presend_btn_bg_active: #666,
    color_tit: #f1cb26,
    color_tit_bg: #444,
    color_tit_gradient_bg: (),
    // color_overview_bg: #000,
    // color_overview_cell: rgba(#000, 0.6),
    // color_overview_cell_bg: #000,
    // color_overview_cell_bg_active: #000,
    // color_overview_cell_line: rgba(#000, .15),
    color_overview_displayname: #f1cb26,
    color_overview_tit: #f1cb26,
    shadow_pop_bubble: 0 0 0px 1px #444,
    shadow_overview_avatar: none,
  )
);